apiVersion: apps/v1
kind: Deployment
metadata:
  name: did-website-node
  namespace: ${k8s_namespace}
spec:
  replicas: 2
  selector:
    matchLabels:
      app: did-website-node
  strategy:
    type: RollingUpdate
    rollingUpdate:
      maxSurge: 100%
      maxUnavailable: 50%
  template:
    metadata:
      labels:
        app: did-website-node
    spec:
      containers:
      - name: did-website-node
        image: designisdead/website:${buildNumber}
        imagePullPolicy: Always
        env:
          - name: NODE_ENV
            value: ${k8s_environment}
        ports:
        - containerPort: 3000
        readinessProbe:
          httpGet:
            path: /
            port: 3000
          initialDelaySeconds: 60
          periodSeconds: 10
          timeoutSeconds: 2
          failureThreshold: 12
        livenessProbe:
          httpGet:
            path: /
            port: 3000
          initialDelaySeconds: 120
          periodSeconds: 10
          timeoutSeconds: 3
          failureThreshold: 12
      imagePullSecrets:
        - name: dockerhubcred
