// SPACER
$spacer: 40px;

// GRID COLUMNS
$grid-columns: 12;

// FONTS
$font-size: 16px;
$font-primary: 'aaux-next', sans-serif;
$font-secondary: 'Arial', sans-serif;
$line-height: 1.5; // only for paragraphs, all other elements will have a line-height of 1

// COLORS
$colors: (
  primary: #000,
  secondary: #15275b,
  light: #fff,
  snowColor: #FAFAFA,
  greyLight: #eee,
  medium: #787878,
  dark: #454545,
  black: #000,
  copper: #dc7f64,
  copperblue: #280050,
  coppergreen: #67dac4,
  twitter: #55ACEE,
  facebook: #3B5998,
  linkedin: #0976B4,
  textLight: #EDEDED,
  textDark: #454545,
  primaryColor: #2D0254,
  primaryColorLighten1: lighten(#2D0254, 15%),
  secondaryColor: #DC7F64,
);

// BACKGROUND POSITIONS
$background-positions: (
  top-left: top left,
  top-center: top center,
  top-right: top right,
  center-left: center left,
  center-center: center center,
  center-right: center right,
  bottom-left: bottom left,
  bottom-center: bottom center,
  bottom-right: bottom right
);

$grid-orders: (
  1: 1,
  2: 2,
  3: 3,
  4: 4,
  5: 5,
  6: 6
);

@function color($key) {
  @return map-get($colors, $key);
}

// SIZES / BREAKPOINTS
$sizes: (
  tiny: 330px,
  small: 440px,
  smedium: 600px,
  medium: 800px,
  large: 1000px,
  huge: 1400px,
);
@function size($size) {
  @return map-get($sizes, $size);
}
