*,
*:before,
*:after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

a {
  color: color('primary');
  text-decoration: none;

  &:hover {
    text-decoration: underline;
  }

  .u-backgroundColor--primary & {
    color: color('light');
  }
}

abbr[title], acronym[title] {
  text-decoration: none;
}

li {
  margin-left: $spacer;
}

html {
  scroll-behavior: smooth;
  position: relative;
}

body {
  font: #{$font-size} / 1 $font-primary;
  overflow-x: hidden;
  color: color('dark');
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  position: relative;

  --colorPrimary: #000;
}

button {
  background: transparent;
  border: none;
}

hr {
  border: none;
  height: 1px;
  border-bottom: 1px solid color('dark');
  margin-top: $spacer/2;
  margin-bottom: $spacer;
  display: inline-block;
  width: 100%;
  opacity: 0.2;
  .u-backgroundColor--primary &,
  .u-backgroundColor--dark & {
    border-color: color('light');
  }
}

li,
p {
  line-height: $line-height;
  padding-bottom: $spacer/2;
  /*
  &:last-child {
    padding-bottom: 0;
  }
  */
}

pre {
  margin-bottom: $spacer;
  max-width: 100%;
  overflow-y: hidden;
}

ol,
ul {
  padding-top: $spacer/2;
  // padding-bottom: $spacer;
}

li {
  padding-bottom: $spacer/2;
}

label {
  display: block;
  font-weight: bold;
}

small {
  font-size: 0.8rem;
  color: darken(color('light'), 50%);
}

.Title, h1, h2, h3, h4, h5, h6 {
  font-weight: normal;
  padding-bottom: $spacer/2;
  &:last-child {
    padding-bottom: 0;
  }
  line-height: 1.2;

  &.micro {
    font-size: 0.625rem;
  }

  &.tiny {
    font-size: 0.75rem;
  }

  &.small {
    font-size: 0.88rem;
  }

  &.medium {
    font-size: 1.125rem;
  }

  &.large {
    font-size: 2rem;
  }

  &.huge {
    font-size: 3rem;
  }

  &.uppercase {
    text-transform: uppercase;
  }

  &.noSpaceBelow {
    padding-bottom: 5px;
  }

  &:only-child {
    padding-bottom: 0;
  }
}

h1 {
  font-size: 8vw;
  @media screen and (min-width: size(small)) {
    font-size: 7vw;
  }
  @media screen and (min-width: size(medium)) {
    font-size: 3rem;
  }
}

h2 {
  font-size: 6vw;
  @media screen and (min-width: size(small)) {
    font-size: 2rem;
  }
}

h3 {
  font-size: 1.5rem;
}

h4 {
  font-size: 1rem;
}

h5 {
  font-size: 0.75rem;
}

.Image {
  display: block;
  height: auto;
  &.stretch {
    width: 100%;
  }
}

blockquote {
  border-left: 3px solid color(black);
  padding-top: $spacer/4;
  padding-bottom: $spacer/4;
  padding-left: $spacer/3;
  margin-bottom: $spacer/2;
  p:last-child {
    padding-bottom: 0;
  }
}
