// CONFIG
// @import "_config";
@import "mixins";
@import "syntax";

// FONTS
@font-face {
  font-family: 'quick_toyregular';
  src: url('~assets/fonts/quicktoy-webfont.woff2') format('woff2'),
  url('~assets/fonts/quicktoy-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;
  font-display: auto;
}

// RESET
@import "reset";

// UTILS
@import "utils";

@import "components/button";
